h1 {font-family: "Comic Sans MS", cursive, sans-serif; background-color: #993399; width: 550px; color: #426493;}
body {font-family: "Lucida Console", Monaco, monospace; background-color: #ffccff;  color: #ff3399}
